.navbar{
    position: sticky; 
    top: 0px;
}

.navbar-brand{
    font-size: 50px;
    font-weight: bold;
}

.navbar-nav{
padding-left: 100px;
}

.nav-item{
    padding-left: 25px;
}

.nav-link:hover{
    font-size: 20px;
    background-color: gray;
    border-radius: 10px;
}

.link-dark{
    text-decoration: none;
}

.link-dark:hover{
    padding: 10px;
    font-size: 20px;
    background-color: gray;
    border-radius: 10px;
}

.job-image{
    width: 100%;
    height: 50rem;;
}

.text-find{
    font-weight: 750; 
    font-size: 80px;
}

.text-more{
     font-weight: 300; 
     font-size: 25px;
}

.carousel-caption{
    text-align: right;
}

.job-search-wrap{
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
    padding-top: 60px;
    margin-top: 100px;
    margin-bottom: 20px;
    height: 150px;
}

.row{
    text-align: center;
    width: 100%;
}

.section-title{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.title{
    font-size: 50px;
    font-weight: bold;
}

.gray-row{
    background: linear-gradient(to right, #696868, rgb(32, 32, 32), #696868);
    padding-top: 60px;
    padding-bottom: 20px;
}

.number{
color: white;
font-size: 50px;
}

.p{
    color: white;
    font-size: 25px;
}

.footer{
    margin-top: 200px;
}