<%- include('modules/head') %>

    <section>

        <img class="contact-us-image" src="/images/contact-us.jpg" alt="">
        <div class="carousel-caption">
            <h5 class="text-find">Contact Us</h5>
        </div>

    </section>

    <!-- From Part Start -->

    <main class="contact-form">
        <div class="col-lg-4 ms-5 mt-5">

            <h2 class="get-in">
                Get In Touch
            </h2>
            <p class="required">Your email address will not be published. Required fields are marked *</p>

            <form action="">
                <div class="box-text">
                    <label for="exampleFormControlTextarea1" class="form-label">Your Message</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="7"></textarea>
                </div>

                <div class="row">
                    <div class="col box-text">
                        <label for="exampleFormControlTextarea1" class="form-label">Your Name *</label>
                        <input type="text" class="form-control" aria-label="Name">
                    </div>

                    <div class="col box-text">
                        <label for="exampleInputEmail1" class="form-label">Your Email *</label>
                        <input type="email" class="form-control" id="exampleInputEmail1">
                    </div>
                </div>

                <div class="mb-3 form-check mt-3 box-text">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Save my name,
                        email, and website in this
                        browser
                        for
                        the next time I comment.</label>
                </div>
                <button type="submit" class="send-message">Send
                    Message</button>
            </form>

        </div>


    </main>

    <!-- From Part End -->

    <!-- Footer part start -->

    <%- include('modules/foot') %>