<%- include('modules/head') %>

    <section>
        <img class="job-image" src="/images/job-image.jpg" alt="">
        <div class="carousel-caption">
            <h5 class="text-find">Find Your Next Job</h5>
            <p class="text-more">More then 2000 job list here</p>
        </div>
    </section>

    <main>
        <!-- Job Search Section Start -->
        <div class="job-search-section section">
            <div class="container">
                <div class="job-search-wrap">
                    <div class="job-search-form">
                        <form action="#">
                            <div class="row mb-n4">
                                <div class="col-lg-auto col-sm-6 col-12 flex-grow-1 mb-4">
                                    <input class="search" type="text" placeholder="Search Job">
                                </div>

                                <div class="col-lg-auto col-sm-6 col-12 flex-grow-1 mb-4">
                                    <input class="search" type="text" placeholder="Location">
                                </div>

                                <div class="col-lg-auto col-sm-6 col-12 flex-grow-1 mb-4">
                                    <select class="search">
                                        <option value="1">Any category</option>
                                        <option value="2">Web Designer</option>
                                        <option value="3">Web Developer</option>
                                        <option value="4">Graphic Designer</option>
                                        <option value="5">App Developer</option>
                                        <option value="6">UI &amp; UX Expert</option>
                                    </select>
                                </div>

                                <div class="col-lg-auto col-sm-6 col-12 flex-grow-1 mb-4">
                                    <button class="btn btn-dark search">Search</button>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Job Search Section End -->

        <div class="section-title">
            <h2 class="title">Latest Jobs</h2>
            <p class="text-more">Here's the most recent job listed on the website.</p>
        </div>

        <section>
            <div class="row gray-row">
                <div class="col-lg-auto col-sm-6 col-12 flex-grow-1 mb-4">
                    <h1 class="number">1500</h1>
                    <p class="p">Job Post</p>
                </div>

                <div class="col-lg-auto col-sm-6 col-12 flex-grow-1 mb-4">
                    <h1 class="number">2000</h1>
                    <p class="p">Members</p>
                </div>

                <div class="col-lg-auto col-sm-6 col-12 flex-grow-1 mb-4">
                    <h1 class="number">1000</h1>
                    <p class="p">Resume</p>
                </div>

                <div class="col-lg-auto col-sm-6 col-12 flex-grow-1 mb-4">
                    <h1 class="number">200</h1>
                    <p class="p">Company</p>
                </div>
            </div>
        </section>
    </main>

    <!-- Footer part start -->

    <%- include('modules/foot') %>