<%- include('../modules/head') %>

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <%- include('modules/sidebar') %>

            </div>
            <div class="col-md-9">
                <div class="d-flex align-items-center justify-content-center">

                    <div class="cards">
                        <div class="card">
                            <div class="card-content">
                                <div class="number">12</div>
                                <div class="card-name">Old Posts</div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-content">
                                <div class="number">308</div>
                                <div class="card-name">Responses</div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-content">
                                <div class="number">5</div>
                                <div class="card-name">New Posts</div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-content">
                                <div class="number">3</div>
                                <div class="card-name">Accepted Candidates</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/vendor/bootstrap.bundle.min.js"></script>


    </body>

    </html>