<%- include('../modules/head') %>

    <div class="container">
        <div class="sidebar">
            <ul>
                <li>
                    <a href="#">
                        <i class="fas fa-clinic-medical"></i>
                        <div class="title"> Home</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-th-large"></i>
                        <div class="title"> Applicants</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-check-double"></i>
                        <div class="title"> Accepted Applicants</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-puzzle-piece"></i>
                        <div class="title"> Department</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-cog"></i>
                        <div class="title"> Settings</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-question"></i>
                        <div class="title"> Help</div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="main">
            <div class="top-bar">
                <div class="search">
                    <input type="text" name="search" placeholder="search here">
                </div>
                <div class="user">
                    <img src="/images/img.png" alt="">
                </div>
            </div>
            <div class="cards">
                <div class="card">
                    <div class="card-content">
                        <div class="number">12</div>
                        <div class="card-name">Old Posts</div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <div class="number">308</div>
                        <div class="card-name">Responses</div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <div class="number">5</div>
                        <div class="card-name">New Posts</div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <div class="number">3</div>
                        <div class="card-name">Accepted Candidates</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>