<%- include('../modules/head') %>

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <%- include('modules/sidebar') %>

            </div>
            <div class="col-md-9">
                <div class="d-flex align-items-center justify-content-center">
                    <h1 class="text-center">All posted job</h1>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/vendor/bootstrap.bundle.min.js"></script>

    </body>

    </html>