<%- include('../modules/head') %>

    <div class="container">
        <div class="sidebar">
            <ul>
                <li>
                    <a href="#">
                        <i class="fas fa-clinic-medical"></i>
                        <div class="title"> Home</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-th-large"></i>
                        <div class="title"> Companies</div>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <i class="fas fa-puzzle-piece"></i>
                        <div class="title"> Department</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-cog"></i>
                        <div class="title"> Settings</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-question"></i>
                        <div class="title"> Help</div>
                    </a>
                </li>
            </ul>
        </div>

        <div class="main">
            <div class="top-bar">
                <div class="search">
                    <input type="text" name="search" placeholder="search here">
                </div>
                <div class="user">
                    <img src="/images/img.png" alt="">
                </div>
            </div>
            <div class="cards">
                <div class="card">
                    <div class="card-content">
                        <div class="number">67</div>
                        <div class="card-name">Applied Jobs</div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <div class="number">105</div>
                        <div class="card-name">Responses</div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <div class="number">8</div>
                        <div class="card-name">New Job Post</div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <div class="number">12</div>
                        <div class="card-name">Old Job Post</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/vendor/bootstrap.bundle.min.js"></script>

    </body>