<%- include('../modules/head') %>

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <%- include('../modules/applicantSidebar') %>

            </div>
            <div class="col-md-9">
                <div class="d-flex align-items-center justify-content-center">

                    <!-- center text -->

                    <h1 class="center-text">Welcome To Get Scouted</h1>

                </div>
            </div>
        </div>
    </div>

    <script src="/js/vendor/bootstrap.bundle.min.js"></script>

    </body>