<div class="sidebar">
    <ul>
        <li>
            <a href="/">
                <i class="fas fa-clinic-medical"></i>
                <div class="title"> Home</div>
            </a>
        </li>
        <li>
            <a href="/recruiter/jobs/post">
                <i class="fas fa-th-large"></i>
                <div class="title"> Post a Job</div>
            </a>
        </li>
        <li>
            <a href="/recruiter/jobs">
                <i class="fas fa-check-double"></i>
                <div class="title"> Job posts</div>
            </a>
        </li>
        <li>
            <a href="/recruiter/profile">
                <i class="fas fa-cog"></i>
                <div class="title"> Company</div>
            </a>
        </li>
        <li>
            <a href="/recruiter/profile/update">
                <i class="fas fa-question"></i>
                <div class="title"> Edit Company</div>
            </a>
        </li>
        <li>
            <a href="/auth/logout">
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
                <div class="title"> Log Out</div>
            </a>
        </li>
    </ul>
</div>