body{
    margin:0;
    padding:0;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    background-position: center;
}
.sign-up-form{
    width:300px;
    background: #28282B;
    border: 2px solid #28282B;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3); 
    padding: 20px;
    margin: 8% auto 0;
    text-align: center;
}
.sign-up-form h1{
    color:#fff;
    margin-bottom: 30px;
}
.sign-up-form label{
    display:flex;
    margin-top: 20px;
    font-size: 18px;
    color: #fff;
}

.sign-up-form #notvalid{
    color: #fff;
    font-size: 12px;
    margin-top: 10px;
}

.input-box{
    border-radius: 10px;
    padding: 10px;
    margin: 10px -10px;
    width: 100%;
    border: 1px solid #28282B;
    outline: none;
}
button{
    color:black;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
    margin: 10px 0;
    border:none;
    outline: none;
    cursor: pointer;
}
.signup-btn{
    background-color: #fff;
}
.signup-btn:hover{
    background-color: black;
    color: white;
}
p{
    color: #fff;
    padding-top: 20px;
    font-size: 15px;
}

a{
    color:#fff;
}
a:hover{
    color:red;
}
hr{
    margin-top: 20px;
    width: 80%;
}